<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud</title>
</head>
<body>
    <form th:action="" method="post">
        <div>
            <label for="nome"></label>
            <input type="text" id="nome" name="nome" placeholder="Nome" required/><br>


            <label for="preco"></label>
            <input type="double" id="preco" name="preco" placeholder="00,00" required/><br>



            <button type="submit">Cadastrar</button>
        </div>
    </form>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${itens}">
            <td th:text="${item.id}">ID</td>
            <td th:text="${item.nome}">Nome</td>
            <td th:text="${item.preco}">Preço</td>

            <td>
                <form th:action="@{(id=${item.id})}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="delete-button">Excluir</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>